{% extends "jellyroll/base.html" %}

{# Example template for a the calendar month view #}

{% block title %}Items in {{ month|date:"F Y" }}{% endblock %}

{% block content %}
  <h1>Items in {{ month|date:"F Y" }}</h1>
  <p>
    {% if previous_month %}<a href="{% url 'jellyroll_calendar_month' year=previous_month.year month=previous_month|date:"M"|lower %}">&larr; {{ previous_month|date:"F Y" }}</a>{% endif %}
    {% if next_month %}<a href="{% url 'jellyroll_calendar_month' year=next_month.year month=next_month|date:"M"|lower %}">{{ next_month|date:"F Y" }} &rarr;</a>{% endif %}
  </p>
  <ul>
    {% for item in items %}
      <li>{{ item.timestamp|date:"F j" }}: {{ item }}</li>
    {% endfor %}
  </ul>

  {% include 'jellyroll/snippets/pagination.html' %}
{% endblock %}